.bg-img {
    background-image: url("../../assets/mainSchool-edited.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 115vh;
    width: 100%;
    background-color: rgba(67, 64, 64, 0.527);
    background-blend-mode: multiply;
}