.happening-now-card {
    --main-color: #323232;
    --sub-text-color: #515f5f;
    --sub-color: var(--bs-primary);
    --bg-color: #ffffff;
    --accent-color: #242C88;
    position: relative;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg-color);
    transition: all 0.2s;
    box-shadow: 0px 0px 0px -1.5px #000;
    &:hover {
        box-shadow: 0px 0px 20px -5px #000;
    }

    &::before {
        content: '';
        width: 99%;
        height: 99%;
        background: var(--sub-color);
        position: absolute;
        z-index: -1;
        top: 1px;
        left: 1px;
        border-radius: 25px;
        transition: all 0.3s;
    }

    &:hover::before {
        transform: rotate(10deg);
        box-shadow: 0px 0px 20px -5px #000;
    }

    @media (max-width: 768px) {
        &:hover::before {
            transform: rotate(0deg);
            box-shadow: 0px 0px 15px -5px #000;
        }
    }

    .happening-now-card__img {
        width: 100%;
    }    

    .happening-now-card__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .happening-now-card__title {
            font-family: "Lobster Two", cursive;
            color: var(--main-color);
            font-weight: 600;
            font-size: 25px;
        }

        .happening-now-card__subtitle {
            color: var(--sub-text-color);
            font-weight:500;
            font-size: 15px;
        }

        .happening-now-card__icon {
            width: 40px;
            height: 40px;
            transform: rotate(-45deg);
            transition: all 0.3s;
        }
    }
}