.navbar {
    height: 8vh;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease-in-out; /* Smooth transition for background and text color changes */

    .full-header-title {
        font-family: 'Lobster Two', cursive;
    }

    &.bg-transparent {
        background-color: transparent !important;
        backdrop-filter: none;
    }

    &.blurred-bg {
        background-color: rgba(129, 129, 129, 0.404) !important; /* Light transparent white */
        backdrop-filter: blur(8px); /* Slight blur effect */
    }

    &.bg-white {
        background-color: white !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow for better visibility */
    }

    &.text-dark {
        color: black !important;
    }

    &.text-white {
        color: white !important;
    }

    .nav-link {
        font-weight: bold;
        color: #ffffff;
        font-family: 'Poppins', sans-serif !important;
        transition: color 0.3s; /* Smooth color transition */
    }

    .nav-link.show,
    .nav-link:hover,
    .nav-link.active {
        color: var(--very-light-blue) !important;
        text-decoration: underline;
        text-underline-offset: 10px;
    }

    /* Make sure the navbar items change text color correctly when navbar background color changes */
    &.text-dark .nav-link {
        color: black !important; /* Make sure text is black when scrolling */
    }

    &.text-white .nav-link {
        color: white !important; /* Make sure text is white when at the top */
    }
}
