.about-us-wrapper {
    width: 100vw;
    .about-us-div {
        
        .about-us-container {
            // background-color: white;
            font-family: "DM Sans", sans-serif;
            .about-us-title {
                padding-top: 7rem;
                font-family: "Playfair Display", sans-serif;
                letter-spacing: -.1px;
            }
        
            
            .text-p {
                color: #2c3a3a;
                text-align: justify;
                font-size: 20px;
            }
        
            .img-fluid {
                background-color: #fff2e1;
            }
            
        }
    }

}

