.certificates-wrapper {
    // margin-bottom: 5rem;
    background-color: var(--very-light-blue);
    .cards-container {
        margin-top: -40px;
    }

    .card:hover {
        transform: translateY(-20px);
    }
}