.certificates-wrapper {
    background-color: var(--very-light-blue);
    .cards-container {
        margin-top: -40px;
    }

    .card:hover {
        transition-duration: .2s;
        transform: translateY(-8px);
    }
}