@keyframes revealFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.stats-wrapper-container {
    background-color: var(--very-light-blue);
    padding-bottom: 92px;
    .stats-wrapper {
        margin-top: -102px;
        color: white;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.1px;
        font-family: "DM Sans", sans-serif;
    
        .row {
            background-color: var(--dark-slate-grey);
            .title-h1 {
                font-size: 2.5rem;
            }

            @media (min-width:768px) {
                .title-h1 {
                    font-size: 4rem;
                }
            }

            .subtitle-div {
                text-transform: uppercase;
                color: var(--light-slate-grey);
            }
    
            .title-h1,
            .subtitle-div {
                opacity: 0;
                transform: translateY(100%);
                will-change: transform, opacity;
                transition: all 0.4s ease-out;
            }
        }
    
    // Trigger animation when in-view class is added
        &.in-view {
            .title-h1,
            .subtitle-div {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @media (min-width: 768px) {
        .stats-wrapper {
            font-size: 18px;
        }
    }
}
