html {
  scroll-behavior: smooth;
}


:root {
  --primary: #30e3ca;
  --very-light-blue: #e7f5f5a1;
  --very-light-brown: #f0e2d0;
  --light-slate-grey: #749797;
  --dark-slate-grey: #2c3a3a;
  --dark-slate-grey-glassy: #2c3a3af3;
}

html, body {
  overflow-x: hidden;
}

body {
  background-image: url('./assets/school-svg-9.svg');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: top center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.94); /* Overlay */
  z-index: -1; /* Behind content */
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-weight: 600;
  letter-spacing: -.1px;
}